



#header-wrapper, #main {
	max-width: 1100px;
	margin: auto;
	font-family: helvetica;
}

#header-left, #header-middle, #header-right {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

#header-wrapper {
	margin-top: 30px;
	border-bottom
}

#header-left {
	width: 20%;
}

#header-left img{
	max-height: 75px;
	max-width: 125px;
}

#header-middle {
	width: 40%;
	margin-top: 18px;
}

#search-field {
	width: 60%;
	height: 28px;
}

#button1 {
	border: 1px solid #bbb;
	background-color: #eee;
	border-radius: 5%;
	height: 28px;
}

#home-links ul li {
	list-style: none;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 18px;
}

.link-border {
	border-right: 2px solid #999;
}

.link-border.firstL {
	margin-left: -62px;
}

#header-right {
	width: 38%;
	margin-top: 18px;
}

#top-text {
	display:inline-block;
	float: right;
	font-size: 16px;
	margin-bottom: 20px;
}

#lower-options {
	word-spacing: 25px;
	float: right;
	font-size: 18px;
}

.word-color {
	color: blue;
}

#main-left, #main-right {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

#main-left {
	width: 60%;
}

#main-right {
	width: 35%;
}

#video-title {
	font-size: 26px;
	margin-top: 20px;
}

#video-main {
	margin-top: 25px;
}

#comment-section {
	font-size: 14px;
	margin-top: 25px;
}

#comment-title {
	font-size: 24px;
}

.user {
	margin-top: 10px;
	margin-left: 8px;
	color: lightskyblue;
}

.user-comments {
	margin-top: 10px;
	color: #999;
}

#main-right {

}

#profile {
	border: 2px solid #666;
	width: 95%;
	margin-top: 26px;
	height: 232px;
}

#top-profile {
	width:88%;
	margin: auto;
	margin-top: 20px;
}

#top-profile-left, #top-profile-middle, #top-profile-right {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}


#top-profile-left {
	width: 20%;
}

#top-profile-middle {
	width: 50%;
}

#profile-name {
	color: #06abd8;
	font-size: 16px;
}

#profile-name-bio {
	font-size: 8px;
}

#top-profile-right {
	width: 25%;
}

#top-profile-right input {
	margin-top: 15px;
	margin-right: -10px;
	width: 100%;
	padding: 10px 0px;
	border-radius: 3%;
	border: 1px solid #bbb;
	background-color: #eee;
	font-weight: bold;
	font-size: 12px;
	color: #444;
}

#bottom-profile {
	width:88%;
	margin: auto;
	margin-top: 15px;
	font-size: 12px;
}





























